<!-- <div style="text-align:center">
<input type="email" id="email" [(ngModel)]="this.username" placeholder="Username" required>
<br/><input type="password" [(ngModel)]="this.password" placeholder="password">

  <br/>
  <input type="button" (click)="onclick()" value="submit">

</div> -->
<div id="wrapper" class="wrapper col-lg-offset-4">
      
    <div class="container col-lg-4">
        <h1 style="margin-left: 10px">LOGIN</h1>
        <div id="error" class="error"></div>
        <div class="div1" id="signup">
            <input type="text" class="inputfield"  [(ngModel)]="this.username"placeholder="username" required=""><br/>
            <input type="password" class="inputfield" [(ngModel)]="this.id"  placeholder="password" required=""><br/>
            <input type="login" value="Login in" (click)="addButton()" class="loginbutton" style="margin-left: px">                                                                                                                                                                             
            <br>
          
        </div>
            </div>
        </div>